/* resets */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --darker-color: #000000;
    --dark-color: #212529;
    --glass-color: #2b3035;
    --glass-border-color: #495057;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--darker-color);
}

.app {
    width: 100%;
    height: 100%;
    align-content: center;
}

.app .box {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 75%;
    height: 75%;
    border: 1px solid var(--dark-color);
    border-radius: calc(1vw + 1vh);
}

.app .box .profile {
    display: flex;
    align-items: center;
    padding: 0px 1vw;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid var(--dark-color);
}

.app .box .profile .status {
    margin-right: 1vw;
    width: calc(0.5vw + 0.5vh);
    height: calc(0.5vw + 0.5vh);
    background-color: #80ed99;
    border-radius: 50%;
}

.app .box .profile .info {
    display: flex;
    flex-direction: column;
}

.app .box .profile .info input[type="text"] {
    font-family: sans-serif;
    font-size: calc(1vw + 1vh);
    color: whitesmoke;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    outline: none;
}

.app .box .profile .info h3 {
    font-size: calc(0.5vw + 1vh);
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: lighter;
}

/* device list */

.device-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.device-list .device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--dark-color);
}

.device-list .device span {
    display: block;
    margin-left: 1vw;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: calc(1vw + 1vh);
    font-weight: bolder;
}

.device-list .device span.identificator {
    font-size: calc(0.5vw + 1vh);
    font-weight: lighter;
}