/* imports */
@import url("./notification.css");

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --darker-color: #201f1d;
    --light-color: #ffffff;
    --gray-dark-color: #8a8a8a;
    --dark-glass-border-color: #363533;
    --light-glass-border-color: #dddddd;
    --blue-color: 33, 150, 243;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: light-dark(var(--light-color), var(--darker-color));
}

h1, h2, h3, span, p, input[type="text"] {
    font-family: sans-serif;
    color: light-dark(var(--darker-color), var(--light-color));
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    font-size: calc(0.15vw + 3vh);
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    padding: 8px 16px;
    border: 2px solid light-dark(var(--light-glass-border-color), var(--dark-glass-border-color));
    border-radius: 12px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

button.fill {
    background-color: rgba(var(--blue-color), 0.25);
    border: 2px solid rgba(var(--blue-color), 0.40);
}

span.special {
    color: rgb(var(--blue-color));
}