/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --darker-color: #201f1d;
    --light-color: #ffffff;
    --gray-dark-color: #8a8a8a;
    --dark-glass-border-color: #363533;
    --light-glass-border-color: #dddddd;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: light-dark(var(--light-color), var(--darker-color));
}

h1, h2, h3, span, input[type="text"] {
    font-family: sans-serif;
    color: light-dark(var(--darker-color), var(--light-color));
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    font-size: calc(0.15vw + 3vh);
    background-color: transparent;
    border: none;
    outline: none;
}