/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darker-color: #201f1d;
    --gray-color: #8a8a8a;
    --glass-border-color: #363533;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--darker-color);
}

h1, h2, h3, span, input[type="text"] {
    font-family: sans-serif;
    color: whitesmoke;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    font-size: calc(0.15vw + 3vh);
    background-color: transparent;
    border: none;
    outline: none;
}